@using System.ServiceModel.Configuration
@model IEnumerable<WebApplication.Project1.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Artykuły</h2>
<h3>Lista ostatnich @Model.Count() artykułów</h3>


@foreach (var item in Model)
{
    <div class ="article"></div>
    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
    <p>@Html.DisplayFor(modelItem => item.Context)</p>
    <p>@Html.DisplayFor(modelItem => item.Author)</p>
    
    <span class ="right">@Html.ActionLink("Edit", "Edit", new{id = item.ArticleId})</span>
    
    <br/>
}
